# Solution for debugging example
src/dealingWithDebuggingSolution.java

# Personal notes for lecturing
NOTES.md

# Other unversioned files
.idea/codeStyleSettings.xml
.idea/dictionaries/
.idea/inspectionProfiles/
